.App {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 42, 71)
}

.button-container {
  height: 700px;
  width: 700px;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
}

.sound-button {
  background-color: rgb(208, 208, 208);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  height: 50px;
  width: 250px;
}